<% @trip.trails.each do |trail| %>
  <%= trail.length %>
  <%= trail.name %>
  <%= trail.address %>
<% end %>

<p>Total hiking distance</p>: <%= @trip.trails.total_hiking_distance %>
<p>Average hiking distance</p>: <%= @trip.trails.average_hiking_distance %>
